@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
* {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.btns {
  padding: 20px 40px;
  background-color: black;
  color: white;
  border: 0;
  border-radius: 12px;
  font-weight: 600;
  transition: box-shadow 1s ease;
}

/* HEADER */
.header__nav {
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 85px;
  position: fixed;
}
.header__nav.scrolling {
  background-color: #fff; /* Background màu trắng */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Thêm shadow khi cuộn xuống */
}
.header__nav--logo img {
  vertical-align: middle;
  border-style: none;
  height: 40px;
  margin-left: 32px;
}
.header__nav--logo:hover {
  cursor: pointer;
}
.header__nav--multi {
  height: 100%;
}
.header__nav--multi ul {
  list-style-type: none;
  display: flex;
  height: 100%;
}
.header__nav--multi ul li {
  display: inline-flex;
  align-items: center;
  width: 98px;
  /* text-align: center; */
  justify-content: center;
}
.header__nav--multi ul li i {
  margin-left: 7px;
}
.header__nav--multi ul li:hover {
  background-color: #F2F2F2;
  cursor: pointer;
}
.header__nav--language {
  display: flex;
}
.header__nav--language div {
  margin-right: 10px;
  transition: all 1s ease; /* Thêm transition cho mọi thuộc tính thay đổi */
}
.header__nav--language div:hover {
  cursor: pointer;
  transform: scale(1.5);
}
.header__nav--language div:hover {
  cursor: pointer;
}
.header__nav .icon {
  font-size: 20px;
  margin-right: 20px;
  display: none;
}

/* END HEADER */
@media (max-width: 993px) {
  .content {
    padding-bottom: 120vh;
  }
  .header__nav--multi, .header__nav--language {
    display: none;
  }
  .header .icon {
    display: block;
  }
  .header .icon:hover {
    cursor: pointer;
  }
  .content__right--picture-2 {
    margin-left: 70px;
  }
  .content__right--picture-3 {
    margin-right: -40px;
  }
}
@media (max-width: 774px) {
  .content__right--picture-3 {
    margin-right: 10px;
  }
}
@media (max-width: 553px) {
  .content {
    padding-bottom: 130vh;
  }
}
@media (max-width: 472px) {
  .content {
    padding-bottom: 1060px;
  }
  .content__right--picture-2 {
    margin-left: -60px;
  }
}
.content {
  background-image: url("/img/section-bg-1.jpg"); /* Đường dẫn hình ảnh */
  background-size: cover; /* Chỉnh kích thước ảnh */
  position: relative;
  display: flex; /* Hiển thị phần tử chính dạng block */
  font-weight: 500;
  height: 100vh;
  position: relative;
  padding-top: 140px;
}
.content::before {
  content: ""; /* Thêm nội dung để hiển thị phần tử */
  background: rgba(252, 252, 252, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Chiều rộng bằng phần tử cha */
  height: 100%; /* Chiều cao bằng phần tử cha */
}
.content__left h7 {
  color: #909090;
}
.content__left h2 {
  font-size: 60px;
}
.content__left p {
  color: #909090;
  font-size: 20px;
}
.content__left .button {
  margin-top: 30px;
}
.content__left .button .btn1:hover {
  color: black;
  background-color: #EFEFEF;
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.content__left .button .btn2 {
  background-color: rgba(0, 0, 0, 0);
  color: black;
  transition: all 1s ease; /* Thêm transition cho mọi thuộc tính thay đổi */
}
.content__left .button .btn2:hover {
  cursor: pointer;
  transform: translateY(-20px) scale(1.1);
}
.content__right {
  position: relative;
}
.content__right img {
  width: 184px;
  height: 245px;
  transition: transform 1s ease-in-out;
}
.content__right img:hover {
  transform: scale(1.1);
}
.content__right--picture-1 {
  position: absolute;
  top: 200px;
  left: 100px;
}
.content__right--picture-2 {
  position: absolute;
  top: 125px;
  left: 190px;
}
.content__right--picture-3 {
  position: absolute;
  top: 50px;
  right: 111px;
}

.story {
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
}
.story__img--our {
  font-size: 14px;
  margin-bottom: 20px;
}
.story__img--title {
  font-size: 50px;
  margin-bottom: 20px;
}
.story__img--img {
  width: 100%;
}
.story__img--rely {
  position: absolute;
  bottom: -71px;
  left: -88px;
  transition: all 1s ease; /* Thêm transition cho mọi thuộc tính thay đổi */
}
.story__img--rely:hover {
  cursor: pointer;
  transform: translateY(-5px) translateX(40px) scale(1.1);
}
.story__content--button {
  position: absolute;
  right: 0;
  font-size: 30px;
  cursor: pointer;
  border-bottom: solid 2px black;
  /* Thiết lập các thuộc tính CSS cơ bản */
  transition: transform 1s ease-in-out;
}
.story__content--button:hover {
  transform: scale(1.1);
}
.story__content--miss {
  padding-top: 70px;
  font-size: 20px;
  margin-bottom: 20px;
}
.story__content--miss1, .story__content--vision1 {
  color: #7F7F7F;
  font-size: 18px;
}
.story__content--vision {
  margin-bottom: 20px;
}

.developer {
  padding: 140px 0;
  background-color: #F1F1F1;
}
.developer__left {
  position: relative;
}
.developer__left h1 {
  border-bottom: solid 2px black;
  padding: 20px 0;
  margin-bottom: 40px;
}
.developer__left i {
  background: white;
  padding: 10px;
  border-radius: 50%;
  position: absolute;
  top: 7px;
  left: -48px;
}
.developer__left h5 {
  color: #919191;
}
.developer__right img {
  height: 300px;
  object-fit: contain;
}
.developer__right i {
  color: red;
  font-size: 47px;
  transition: all 1s ease; /* Thêm transition cho mọi thuộc tính thay đổi */
}
.developer__right i:hover {
  font-size: 90px;
}

.service {
  padding: 140px 0;
  position: relative;
}
.service__left h5 {
  font-size: 15px;
  color: #757575;
}
.service__left h1 {
  font-size: 50px;
}
.service__left h3 {
  color: #757575;
}
.service__left ul {
  list-style-type: none;
  position: relative;
  left: -20px;
  font-size: 30px;
  color: #BABABA;
}
.service__left ul li:hover {
  color: #808080;
  cursor: pointer;
}
.service__left ul li {
  transition: all 1s ease; /* Thêm transition cho tất cả các thuộc tính với duration 0.3s và hiệu ứng ease */
}
.service__left ul li span {
  position: relative;
  font-size: 15px;
  top: -20px;
}
.service__left ul li span.active {
  display: inline;
}
.service__left ul li span.no {
  display: none;
}
.service__left ul li.focus {
  color: black;
  border-bottom: solid 2px black;
  transform: translateX(-5%);
}
.service__right img {
  width: 100%;
  height: 100%;
}
.service__right--brand {
  position: absolute;
  background-color: #F1F1F1;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  top: 300px;
  left: -220px;
  width: 410px;
  height: 230px;
  padding: 30px;
  font-size: 18px;
}
.service__right--brand p {
  color: #757575;
}
.service__right .no_display {
  display: none;
}

@media (max-width: 990px) {
  .service__right--brand {
    bottom: 0;
    left: 0;
  }
}
@media (max-width: 400px) {
  .service__right--brand {
    scale: 0.7;
    left: -21px;
  }
}
.check {
  background-image: url(/img/section-bg-1.jpg);
  padding: 140px 0;
  position: relative;
  color: white;
}
.check::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.8;
}
.check__request {
  position: relative;
  z-index: 1;
}
.check__request h1 {
  font-size: 48px;
  margin-bottom: 25px;
}
.check__request h3 {
  font-size: 22px;
  margin-bottom: 25px;
}
.check__request button {
  background-color: white;
  color: black;
  transition: all 1s ease;
}
.check__request button:hover {
  background-color: black;
  color: white;
}
.check__num--item {
  margin-top: 30px;
}
.check__num--item h1 {
  font-size: 80px;
  transition: all 1s ease;
}
.check__num--item h1:hover {
  color: orange;
}
.check__num--item p {
  font-size: 18px;
  color: #757575;
}

.create {
  padding: 140px 0;
}
.create__left h3 {
  font-size: 14px;
  color: #757575;
}
.create__left h1 {
  font-size: 49px;
}
.create__right {
  font-size: 18px;
  color: #757575;
}
.create__right--item {
  text-align: center;
  font-weight: 600;
}
.create__right--item:hover {
  color: black;
  border-bottom: 2px solid black;
  cursor: pointer;
}
.create__right--item.focus {
  color: black;
  border-bottom: 2px solid black;
}
.create__bottom {
  padding-top: 50px;
}
.create__bottom--item {
  display: none;
}
.create__bottom--item.display {
  display: block;
}
.create__bottom--item .inner-image {
  margin-bottom: 30px;
  transition: all 2s ease;
}
.create__bottom--item .inner-image:hover {
  scale: 0.8;
}
.create__bottom--item .inner-image img {
  width: 100%;
}
.create__bottom--item .inner-image h3 {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 0;
}
.create__bottom--item .inner-image p {
  font-size: 15px;
  color: #757575;
}

/*# sourceMappingURL=style.css.map */
